@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800)
@import "foundation"


// General --------------

body
  min-width: 405px

h1, h2, h3, h4, h5, p
  font-family: 'Open Sans', sans-serif

h1
  font-weight: 800
  font-size: 45px

h2
  font-weight: 400
  font-size: 34px

h3
  font-weight: 300
  font-size: 26px

h4
  font-weight: 300
  font-size: 22px

p
  font-weight: 300
  font-size: 16px
  color: #6d6d6d


// Utility Classes --------------
.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

.inverse
  color: white

.jumbotron
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 700px

  .back-button
    text-align: left
    background-color: #4564ff
    padding: 6px 10px 10px 10px
    width: 40px
    height: 40px


//

.button
  color: white
  background-color: #ff4580
  border-bottom: 3px solid #be194d

  &:hover
    background-color: #be194d

.jumbotron
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 700px

  .back-button
    text-align: left
    background-color: #4564ff
    padding: 6px 10px 10px 10px
    width: 40px
    height: 40px

.box
  margin: 80px 0
  text-align: center

  a
    color: white
    padding: 50px 50px
    background-color: #4564ff
    border-bottom: 6px solid #2f4bd4

    &:hover
      background-color: #2f4bd4

.jumbotron
  background-image: url('travel-bg.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 700px

  .back-button
    text-align: left
    background-color: #4564ff
    padding: 6px 10px 10px 10px
    width: 40px
    height: 40px

  nav.top-bar
    background: transparent
    margin-top: 30px

    @media (max-width: 640px)
      margin-top: 0

    ul.title-area h1
      text-align: left

    ul.right li
      background: transparent

      .button
        color: white
        background-color: #ff4580
        border-bottom: 3px solid #be194d

        &:hover
          background-color: #be194d

    ul.right li #login a
      background: transparent
      color: white

  .jumbotron-text-container
    padding-top: 120px

    img
      max-width: none

    h1
      font-size: 2.5em

    h5
      font-size: 1.4em

    .get-app

      img
        width: 150px

    @media (max-width: 1024px)
      text-align: center

.benefits
  @media (max-width: 1024px)
    text-align: center

#benefits-web-1
  padding: 80px 20px

  .row
    padding: 60px 0

    .text-content
      padding-top: 40px

#benefits-web-2
  padding: 80px 20px

  .text-container
    padding: 0 30px

  img
    display: block
    margin: auto

#benefits-mobile-1
  padding: 80px 20px

  .row
    padding: 60px 0

    .text-content
      padding-top: 40px

    img
      display: block
      margin-left: auto
      margin-right: auto

.call-to-action
  background-image: url('balloon-bg.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 400px
  text-align: center
  padding: 70px 20px

  h1
    font-size: 3.5em
    margin: 0

  h5
    padding: 10px 0 50px 0

  a
    font-size: 1.4em

// Footer --------------
.footer
  background-color: #374956
  padding: 10px 0
  line-height: 5em

  p
    color: white
    line-height: 5em
    font-size: 14px